* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: "微软雅黑", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #111;
  background-color: #fff;
  position: relative;
  padding-bottom: 104px;
  padding-top: 6px;
  min-height: 100%;
}
.iframe-body {
  padding: 0 !important;
  background-color: #fff;
}
.iframe-body .layui-layer-shade {
  opacity: 0 !important;
}
a {
  color: inherit;
  text-decoration: none;
}
a:not(.btn):hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
  font-weight: 400;
}
ul,
ol,
dl,
li {
  list-style: none;
}
em {
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 30px;
}
h1 small {
  display: inline-block;
  font-size: 18px;
  margin-top: 18px;
}
h2 {
  font-size: 20px;
  color: #333;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
  color: #333;
}
fieldset {
  border-top: 1px solid #e6e6e6;
}
fieldset legend {
  margin: 0 auto;
  padding: 0 18px;
}
textarea {
  padding: 10px 20px;
  width: 100%;
  resize: none;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  vertical-align: middle;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #a4a4a4;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 14px;
  color: #a4a4a4;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: 14px;
  color: #a4a4a4;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #a4a4a4;
}
.set-perch {
  color: #a4a4a4 !important;
  font-size: 14px !important;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}
